<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="wrapper">
        <% if(message.length) { %>
            <%- include("../partials/flash-message", {message}) %> 
        <% } %>
        
        <header>
            <h1>Todo List</h1>
        </header>
        <main>
            <h1 class="username"><%= username %> </h1>
            <form action="/logout" method="post"> <input type="submit" value="Logout" class="logout-button"> </form>
            <div class="add-button"><a href="/add"><button>Add New Task</button></a></div>
            <div class="grid">
                <% tasks.forEach(task => { %>
                    <div class="task-container">
                        <div class="div"><h2><%= task.name %> </h2></div>
                        <div class="div"><p>Created: <%= task.date.toDateString() %> </p></div>
                        <% let completed = task.completed %>
                        <% let color = "style='color: " + (completed ? "green;'" : "red;'") %>
                        <% let status = completed ? "Completed" : "Not Completed" %>
                        <div class="div"><p <%- color %> ><%= status %></p> </div>
                        <div class="button-container">
                            <a href=<%- "/edit/" + task._id %> ><button>Edit</button></a>
                            <a href=<%- "/edit/" + "remove/" + task._id %> ><button>Remove</button></a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </main>

    </div>
</body>
</html>